body {
    font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif !important;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    position: relative;
    padding-bottom: 220px !important;
    height: auto !important;
    min-height: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}