@import model.resource.BuildingResource
@(buildingsList: List[BuildingResource])


@main("Building portfolio App") {
  <h1>Building portfolio App</h1>
    @for(b <- buildingsList){
      <table id="table_id" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Building name</th>
            <th>Street name</th>
            <th>Number</th>
            <th>Postal code</th>
            <th>City</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>@b.getName</td>
            <td>@b.getStreetName</td>
            <td>@b.getNumber</td>
            <td>@b.getPostalCode</td>
            <td>@b.getCity</td>
            <td>@b.getCountry</td>
          </tr>
        </tbody>
      </table>
    }
}
