@import model.resource.BuildingResource
@import java.util
@(buildingsList: util.List[BuildingResource])


@main("Building portfolio App") {
  <h1>Building portfolio App</h1>
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>Building name</th>
            <th>Street name</th>
            <th>Number</th>
            <th>Postal code</th>
            <th>City</th>
            <th>Country</th>
            <th>Coordinates</th>
          </tr>
        </thead>
        <tbody>
          @for(b <- buildingsList){
            <tr>
              <td>@b.getName</td>
              <td>@b.getStreetName</td>
              <td>@b.getNumber</td>
              <td>@b.getPostalCode</td>
              <td>@b.getCity</td>
              <td>@b.getCountry</td>
              <td>@b.getCoordinates</td>
            </tr>
          }
        </tbody>
      </table>

}
